<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> All My Addy Books</title>
    <meta charset="UTF-8">

</head>
<body>

<a href="/addressBooks">Back to all Address Books</a>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Buddy Id</th>
        <th scope="col">Buddy Name</th>
        <th scope="col">Buddy Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="buddy : ${addressBook.getBuddies()}">
        <td th:text="${buddy.id}"></td>
        <td th:text="${buddy.name}"></td>
        <td th:text="${buddy.phoneNumber}"></td>
    </tr>
    </tbody>
</table>

<h1>Buddy Form Submission</h1>
<form action="#" th:action="@{/addressBooks/addBuddy}" th:method="post" th:object="${addressBook}">
    <label>Addy ID: <input type="number" name="AddyID"></label><br>
    <label>Buddy ID: <input type="number" name="BuddyID"></label><br>
    <button type="submit">Add Buddy</button>
</form>

</body>
</html>